@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
}

#sidebar {
  grid-area: 1 / 1 / -1 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem 2rem;
  font-size: 18px;
  font-weight: 700;
  background-color: deepskyblue;
  color: white;
  align-items: flex-start;
}

#dashboard {
  font-size: 2rem;
  margin-bottom: 40px;
}

#setting {
  margin-top: 40px;
}

#sidebar span {
  margin-right: 2rem;
  padding-top: 10px;
}

#sidebar img {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(147deg) brightness(111%) contrast(101%);
}

#header {
  grid-area: 1 / 2 / 2 / 4;
  display: grid;
  row-gap: 2rem;
  grid-template: 1fr 1fr / 3fr 2fr;
  padding: 1rem 6rem 1rem 3rem;
}

#search-bar {
  padding-right: 100px;
  display: flex;
  align-items: center;
}

#search-bar form {
  width: 100%;
  height: 2rem;
  display: flex;
  gap: 1rem;
}

#search-bar button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

#search-bar input {
  border: none;
  border-radius: 1rem;
  background-color: lightgrey;
  flex-grow: 1;
}

#greeting{
  display: flex;
  gap: 2rem;
  flex-shrink: 0;
  align-items: center;
}

#greeting img {
  height: 40px;
  aspect-ratio: 1 / 1;
}

#greeting .user {
  font-size: 1.5rem;
  font-weight: 700;
}

#buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

#buttons button {
  height: 2.5rem;
  width: 6rem;
  background-color: rgb(83, 128, 253);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
}

#user {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
}

#content {
  grid-area: 2 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 2rem;
}

#content > p {
  padding: 1rem;
  font-weight: 700;
  font-size: 2rem;
}

#projects {
  flex: 1;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 1rem;
}

.project {
  background-color: white;
  border-left: .5rem solid orange;
  border-radius: .5rem;
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-rows: 1fr 40px;
}

.project .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: flex-end;
}

.project .buttons button {
  background-color: white;
  border: none;
}

#annoucements {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 2rem 1rem;
}

#annoucements > p {
  padding: 1rem;
  font-weight: 700;
  font-size: 2rem;
}

#annoucement-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  gap: 2rem;
  border-radius: 1rem;
}

#trending {
  grid-area: 3 / 3 / 4 / 4;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 2rem 1rem;
}

#trending > p {
  padding: 1rem;
  font-weight: 700;
  font-size: 2rem;
}

#trending-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  gap: 2rem;
  border-radius: 1rem;
}